<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tu Proyecto</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet">

  </head>

  <body>
    <div class="dashboard">

      <nav class="nav-primary sidebar" role="navigation">
        <ul role="menubar">
          <li role="presentation" routerLinkActive="seleccionado"
            [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="'/inicio'" role="menuitem">
              <img src="https://i.postimg.cc/k496wH1h/inicio.png" alt="Inicio"
                class="menu-icon" />
              Inicio
            </a>
          </li>
          <li role="presentation" routerLinkActive="seleccionado"
            [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="'/ropa'" role="menuitem">
              <img src="https://i.postimg.cc/hvf9bxwy/ropa.png" alt="Ropa"
                class="menu-icon" />
              Ropa
            </a>
          </li>
          <li role="presentation" routerLinkActive="seleccionado"
            [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="'/maquillaje'" role="menuitem">
              <img src="https://i.postimg.cc/cC2fDCGs/labial.png"
                alt="Maquillaje" class="menu-icon" />
              Maquillaje
            </a>
          </li>
          <li role="presentation" routerLinkActive="seleccionado"
            [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="'/hogar'" role="menuitem">
              <img src="https://i.postimg.cc/xTNvXvLq/corazon.png" alt="Hogar"
                class="menu-icon" />
              Hogar
            </a>
          </li>
          <li role="presentation" routerLinkActive="seleccionado"
            [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="'/joyeria'" role="menuitem">
              <img src="https://i.postimg.cc/76B32XBJ/etiketa.png" alt="Joyeria"
                class="menu-icon" />
              Joyeria
            </a>
          </li>
          <li role="presentation" routerLinkActive="seleccionado"
            [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="'/zapatos'" role="menuitem">
              <img
                src="https://i.postimg.cc/2jwJHftn/free-30-instagram-stories-icons38-122585.png"
                alt="Zapatos" class="menu-icon" />
              Zapatos
            </a>
          </li>
          <li role="presentation" routerLinkActive="seleccionado"
            [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="'/accesorios'" role="menuitem">
              <img src="https://i.postimg.cc/LsjgtST1/accesorios.png"
                alt="Accesorios" class="menu-icon" />
              Accesorios
            </a>
          </li>
        </ul>
      </nav>

      <!-- Main Content -->
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </body>