<header class="bird-box">
  <div class="back-bird"></div>
  <div class="logo"></div>
  <div class="fore-bird"></div>
</header>

<section class="content">
  <article>
    <h1>Estilo Único</h1>
    <hr>
    <p>
      En Deluxe Moda, el estilo se encuentra con la elegancia. Somos tu destino
      definitivo para las últimas tendencias en moda, donde la calidad y el
      diseño se fusionan para ofrecerte una experiencia de compra única.

      Desde prendas exclusivas hasta accesorios que marcan la diferencia, en
      Deluxe Moda nos enfocamos en brindarte lo mejor de la moda internacional
      con un toque de sofisticación. Ya sea que busques un outfit para una
      ocasión especial o piezas que complementen tu estilo diario, aquí
      encontrarás todo lo que necesitas para destacar.

    </p>
    <hr>
    <div class="clothes-pics">
      <div class="row img-row">
        <figure class="columns four">
          <img
            src="https://raw.githubusercontent.com/DevTips/Parallax-on-the-Web-DevTips-/master/images/model1.jpg"
            alt="BlackBird Sweater" />
          <figcaption>
            BlackBird Sweater - <strong>$135</strong>
          </figcaption>
        </figure>
        <figure class="columns four">
          <img
            src="https://raw.githubusercontent.com/DevTips/Parallax-on-the-Web-DevTips-/master/images/model2.jpg"
            alt="BlackBird Trousers" />
          <figcaption>
            BlackBird Trousers - <strong>$135</strong>
          </figcaption>
        </figure>
        <figure class="columns four">
          <img
            src="https://raw.githubusercontent.com/DevTips/Parallax-on-the-Web-DevTips-/master/images/model3.jpg"
            alt="BlackBird Jacket" />
          <figcaption>
            BlackBird Jacket - <strong>$135</strong>
          </figcaption>
        </figure>
      </div>
      <div class="row img-row">
        <figure class="columns four">
          <img
            src="https://raw.githubusercontent.com/DevTips/Parallax-on-the-Web-DevTips-/master/images/model2.jpg"
            alt="BlackBird Trousers" />
          <figcaption>
            BlackBird Trousers - <strong>$135</strong>
          </figcaption>
        </figure>
        <figure class="columns four">
          <img
            src="https://raw.githubusercontent.com/DevTips/Parallax-on-the-Web-DevTips-/master/images/model3.jpg"
            alt="BlackBird Jacket" />
          <figcaption>
            BlackBird Jacket - <strong>$135</strong>
          </figcaption>
        </figure>
        <figure class="columns four">
          <img
            src="https://raw.githubusercontent.com/DevTips/Parallax-on-the-Web-DevTips-/master/images/model1.jpg"
            alt="BlackBird Sweater" />
          <figcaption>
            BlackBird Sweater - <strong>$135</strong>
          </figcaption>
        </figure>
      </div>

    </div>

    <h1>Calidad Fina</h1>
    <hr>
    <p>
      Explora nuestras colecciones cuidadosamente seleccionadas, diseñadas para
      hombres y mujeres que buscan expresar su personalidad a través de la moda.
      En Deluxe Moda, no solo vendemos ropa, creamos estilos que inspiran.

    </p>
    <hr>
    <div class="large-window">
      <div class="window-tint">
        <div class="promo-text">
          Suits<strong><span>DESDE</span> $99</strong>
          <a href class="window-cta">Comprar ahora</a>
        </div>
      </div>
    </div>

    <h1>La Mejor calidad</h1>
    <hr>
    <p>
      Desde prendas exclusivas hasta accesorios que marcan la diferencia, en
      Deluxe Moda nos enfocamos en brindarte lo mejor de la moda internacional
      con un toque de sofisticación. Ya sea que busques un outfit para una
      ocasión especial o piezas que complementen tu estilo diario, aquí
      encontrarás todo lo que necesitas para destacar.
    </p>
  
  </article>
  
  <footer class="footer">
    <div class="footer-container">
      <!-- COLECCIONES -->
      <div class="footer-column">
        <h4>COLECCIONES</h4>
        <ul>
          <li>Mujer</li>
          <li>Hombre</li>
          <li>Bebé</li>
          <li>Niños</li>
          <li>Sport</li>
        </ul>
      </div>
      <!-- INFORMACIÓN CORPORATIVA -->
      <div class="footer-column">
        <h4>INFORMACIÓN CORPORATIVA</h4>
        <ul>
          <li>Trabajar en DELUXE-MODA</li>
          <li>Acerca del grupo DELUXE</li>
          <li>Sostenibilidad</li>
          <li>Prensa</li>
          <li>Relación con inversionistas</li>
          <li>Política empresarial</li>
        </ul>
        <div class="security-patch">
          image security Patch
        </div>
      </div>
      <!-- AYUDA -->
      <div class="footer-column">
        <h4>AYUDA</h4>
        <ul>
          <li>Servicio al cliente</li>
          <li>Mi cuenta</li>
          <li>Nuestras tiendas</li>
          <li>Términos y condiciones</li>
          <li>Aviso de privacidad</li>
          <li>Contacto</li>
          <li>Tarjetas de regalo</li>
          <li>Libro de reclamaciones</li>
          <li>Configuración de cookies</li>
        </ul>
      </div>
      <!-- Fashion News -->
      <div class="footer-column">
        <h4>Fashion News</h4>
        <p>Suscríbete a nuestro Fashion News</p>
        <a href="#" class="btn">¡Únete ahora!</a>
        <a href="#" class="more-link">CONOCE MÁS</a>
      </div>
    </div>
  </footer>
  
</section>
